body {
  font-family: Arial !important;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.phandau {
  background: linear-gradient(to bottom, #FFFFFF, rgba(146, 200, 218, 0.68));
  padding: 0 0 15px 0;
}
.phandau a {
  text-decoration: none;
}
.phandau .logo img {
  width: 21%;
  float: left;
}
.phandau .huychuong {
  text-align: center;
  margin: 15px 0 0 0;
}
.phandau h1 {
  font-size: 20pt;
  margin: 15px 0 0 110px;
  text-transform: uppercase;
  font-weight: 900;
  color: #007398;
  font-family: Time New Romance !important;
}
.phandau .lienhe a {
  margin: 15px 10px 0px 0px;
  display: inline-block;
  float: right;
}
.phandau .lienhe img {
  width: 22px;
  margin: 0;
}
.phandau .lienhe a h3 {
  font-size: 12pt;
  margin: 0;
  color: black;
}
.phandau .lienhe a h3 .fa {
  color: #F7C901;
}
.form-group{
  margin-left: 150px;
  width: 60%;
  display: flex;
  padding-top: 20px !important;
  
}
.form-group button{
  margin-left: 5px;
  background-color: #FFFFFF;
}
.dieuhuong{
  display: flex;
  justify-content: center;
  background-color:  #007398;
  z-index: 10;
}
.dieuhuong p{
  margin-bottom: 0px;
  margin-top: 0px;
}
.dieuhuong .navbar-default{
  padding-top: 0px;
  padding-bottom: 0px;
}
.dieuhuong .dropdown{
  margin-top: 10px;
}
.dieuhuong .dropbtn{
  padding-top: 5px;
  padding-bottom: 5px;
}
.fa-angle-double-right{
  color: #FFFFFF;
  font-size: 70%;
  padding-right: 5px;
}
.fa-caret-down{
  font-size: 70%;
}
.dropbtn {
    background-color:  #007398;
    color: #FFFFFF;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #007398;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #FFFFFF;
    padding:4px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {background-color: #056382}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #056382;
  } 
  .lienhe a{
    text-decoration: none;
    color: black;
    font-size: 10px;
  }

.noidung1 h2 {
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: 600;
  color: #007398;
  margin: 2.8% 1.4% 2.4% 1.4%;
}
.noidung1 .ban-tin-1 h3 {
  font-size: 12pt;
  text-align: justify;
  font-weight: 600;
  margin: 3.6% 0 1.4% 0;
  line-height: 20px;
  color: #3d4548;
}
.noidung1 .tin-khac {
  margin-top: 3%;
}
.noidung1 .tin-khac h2 {
  margin: 0;
  margin-bottom: 4.5%;
  text-align: center;
  font-size: 13pt;
  font-weight: 600;
  background: #007398;
  color: white;
  padding: 5px 0;
  text-transform: uppercase;
}
.noidung1 h2 {
  width: 100%;
  font-size: 18pt;
  text-transform: uppercase;
  font-weight: 600;
  color: #007398;
  margin: 2.8% 1.4% 2.4% 1.4%;
}
.noidung1 .ban-tin-1 h5 {
  font-size: 10pt;
  text-align: justify;
  line-height: 18px;
  margin: 2.5% 0 0 0;
}
.noidung1 .tin-khac a span.fa.fa-angle-right {
  display: block;
}
.noidung1 .tin-khac a h3 {
  font-size: 11pt;
  text-align: justify;
  color: #3d4548;
  margin: -15px 0px 12px 14px;
}
.noidung2 .box-nd2 h2 {
  font-size: 14px !important;
}
.noidung2 {
  background: url(../Images/banner-nen.png);
  background-position: bottom;
  padding: 4.4% 0 2.6% 0;
}
.noidung2 .box-nd2 {
background: white;
padding-bottom: 23px;
margin-bottom: 25px;
}
.noidung2 .box-nd2 h2 {
font-size: 14px !important;
}
.noidung2 .box-nd2 h2 {
margin: 15px 12px 0px 12px;
font-size: 12pt;
text-transform: uppercase;
font-weight: 600;
letter-spacing: -0.5px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 1;
}
h2 {
font-size: 18px !important;
}
.noidung2 .box-nd2 h5 {
margin: 7px 12px 0 12px;
font-size: 10pt;
text-align: justify;
line-height: 18px;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3;
}
* {
  margin: 0;
  padding: 0;
}
h2{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

h5{
  font-size: 16px;
}

h5 a{
  color: #000;
}

h5 a:hover{
  color: #000;
}

.img{
  width: 100%;
}

.text{
  text-align: center;
  background-color: #fff;
}


.text ul {width: 100%;display: inline-block;list-style: none; padding-left: 10px;}
.text ul li a{font-size: 12pt;text-align: justify;color: #3d4548; padding-left: 10px;}
.text ul li{position: relative;float: left; }

.text1 ul {width: 100%;display: inline-block;list-style: none; padding-left: 0;}
.text1 ul li a{font-size: 12pt;text-align: justify;color: #3d4548; padding-left: 10px;}
.text1 ul li{position: relative;float: left; }

.row{padding-top: 20px;}
.vu0{background-color: #F5F5F5}
.ttts{background-color: #fff;}

.button{text-align: center; padding-top: 20px; padding-bottom: 40px;}

.button a{background-color: #007398; color: #fff; padding: 10px; text-decoration: none;}
.button a:hover {background-color: #ffed00; color: #007398}

.home-banner-phan-cach {
  background: url('../Images/banner-ngan-cach.png');
  background-position: bottom;
  padding: 45px 0 50px 0;
}

.home-banner-phan-cach .box-thong-ke h3 {
  font-size: 45pt;
  margin: -11% 0 0 0;
  padding-bottom: 22%;
  border-bottom: 2px solid #FAC900;
  float: right;
  color: #fff;
}    

.home-banner-phan-cach .box-thong-ke h5 {
  font-size: 13pt;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  line-height: 24px;
  margin-left: -10%;
  color: #fff;
}

.home-nd4 {
  padding: 10px 0;
}

.home-nd4 .box-nd4 img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.box-nd4{
  text-align: center;

}

.box-nd4 h5{
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  margin: 0;
  color: #3d4548;

}

.home-khoa {
  background:url('../Images/banner-khoa.png');
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 3.7% 0 3.9% 0;
}


.row.home-khoa {
  margin-bottom: 20px;
  padding: 0;
  background: none;
}

.home-khoa h4 {
  color: #fecb02;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 10pt;
}

.home-khoa h5 {
  color: white;
  font-size: 10pt;
  margin: 0 0 3px 0;
}

.home-bottom {
  background: #005779;
  color: white;
  padding-bottom: 2%;
}
.home-bottom h2 {
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 600;
  color: #fefefe;
}
.home-bottom p{
  font-size: 14px;
}
.home-bottom p {
  color: #f7ffff;
  line-height: 20px!important ;
  font-family: Arial;
}
.home-bottom .row{
  width: 100%;
}


